extends layout.pug 

block number1 
  form.form(action='/add' method='POST')
     input.input(type='text' placeholder='Add a new task' name='todo')
     button.btn Add

  div.todos
      p.todo Task 1: bla bla  
      p.todo Task 1: bla bla  
      p.todo Task 1: bla bla  
      p.todo Task 1: bla bla  
      p.todo Task 1: bla bla  