extends layout.pug 

block number1 
 div.centred
     if error 
         p.error Plese enter the text of your task
     if success
         p.success Congratulations!
     if deleted 
         p.deleted Your task was deleted!
         
 form.form(action='/add' method='POST')
     input.input(type='text' placeholder='Add a new task' name='todo')
     button.btn Add

 div.todos
        if todos.length
         each todo in todos
             p.todo #{ todo.description }

         else 
             p.todo No tasks currently available 