doctype html
html(lang="en")
    head
        title Task manager
        link(rel='stylesheet', href='/assets/style.css')
    body 
     div.wrapper 
         h1.logo Task manager

         block number1