doctype html
html(lang="en")
    head
        title TO DO APPLICATION

             
        link(rel='stylesheet', href='/static/style.css', type='text/css')
    body 
     div.wrapper 
         h1.logo TO DO APPLICATION

         block number1