@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FEFAE0;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #FEFAE0;
}

.wrapper{
    max-width: 800px;
    margin: 50px auto;
}

.logo{
    text-align: center;
    font-size: 4rem;
}
.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input{
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background: blue;
    color: #fff;
}

.todos {
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 10px;

}

.todo {
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px solid #bfbfbf;
}

.todo:hover {
    background: #eee;
}
.done{
    text-decoration: line-through;
}

